svg(xmlns='http://www.w3.org/2000/svg' width='17.765' height='17.765' viewbox='0 0 17.765 17.765')
  g#Icon_feather-copy(data-name='Icon feather-copy' transform='translate(1 1)')
    path#Path_12(data-name='Path 12' d='M15.076,13.5h7.094a1.576,1.576,0,0,1,1.576,1.576v7.094a1.576,1.576,0,0,1-1.576,1.576H15.076A1.576,1.576,0,0,1,13.5,22.171V15.076A1.576,1.576,0,0,1,15.076,13.5Z' transform='translate(-7.982 -7.982)' fill='none' stroke='#57585a' stroke-linecap='round' stroke-linejoin='round' stroke-width='2')
    path#Path_13(data-name='Path 13' d='M5.365,13.247H4.576A1.576,1.576,0,0,1,3,11.671V4.576A1.576,1.576,0,0,1,4.576,3h7.094a1.576,1.576,0,0,1,1.576,1.576v.788' transform='translate(-3 -3)' fill='none' stroke='#57585a' stroke-linecap='round' stroke-linejoin='round' stroke-width='2')
