svg(xmlns='http://www.w3.org/2000/svg' width='9.824' height='15.91' viewbox='0 0 9.824 15.91')
  path#Icon_material-keyboard-arrow-right(data-name='Icon material-keyboard-arrow-right' d='M0,14.041,6.072,7.955,0,1.869,1.869,0,9.824,7.955,1.869,15.91Z' transform='translate(9.824 15.91) rotate(180)' opacity='0.404')
