svg(xmlns='http://www.w3.org/2000/svg' width='19.092' height='19.092' viewbox='0 0 19.092 19.092')
  g#Group_31(data-name='Group 31' transform='translate(-316.954 -38.954)')
    rect#Rectangle_86(data-name='Rectangle 86' width='23' height='4' transform='translate(319.782 38.954) rotate(45)' fill='#fff')
    rect#Rectangle_87(data-name='Rectangle 87' width='23' height='4' transform='translate(316.954 55.218) rotate(-45)' fill='#fff')
