.sharemodal__bg
.sharemodal
    .sharemodal__container
        .sharemodal__header
            .sharemodal__header__left
                p share article
                h6.sharemodal__articlename გამყრელიძის თქმით, განიხილება ქორწილების, წვეულებებისა და სხვა დიდი თავშეყრების აკრძალვა
            .sharemodal__X
        .sharemodal__shares
            p social media
            ul.sharemodal__shares__ul
                li
                    a#pchbtn.fb(href="#", target="_blank")
                li
                    a.msgr(href="#", target="_blank")
                li
                    a.ig(href="#", target="_blank")
                li
                    a.lk(href="#", target="_blank")
                li
                    a.mail(href="#", target="_blank")
        .sharemodal__link
            .shares__value.modal
                .shares__container
                    input.sharearticle(type="text", value="http://127.0.0.1:5500/build/statia.html", disabled, title="http://127.0.0.1:5500/build/statia.html")
                    include ../components/clippboard
