footer.footer.container
    .footer__sections
        .footer__section
            h4 ჩვენ შესახებ
            ul.footer__section__ul
                li
                    a(href="contact.html") კონტაქტი
                li
                    a(href="femea.html") ჩვენი გუნდი
                li
                    a(href="#") ჩვენი პროექტები
        .footer__section
            h4 პარტნიორები
            ul.footer__section__ul
                li
                    a(href="#") ქალთა ფონდი
                li
                    a(href="#") Woman Trust Fund
                li
                    a(href="#") GrlzWave
        .footer__section
            h4 გამოგვყევი    
            ul.footer__section__ul
                li
                    a(href="#", target='_blank') facebook
                li
                    a(href="#", target='_blank') instagram
                li
                    a(href="#", target='_blank') youtube
        .footer__section
            h4 ბლოგი
            ul.footer__section__ul
                li
                    a(href="#") ქალები ნაცნობი ისტორიების მიღმა
                li
                    a(href="#") სიახლეები
                li
                    a(href="#") თარგმანები
                li
                    a(href="#") ინტერვიუები
            
            
            
            
