.questionmodal__bg
.questionmodal
    .questionmodal__heading
        p.questionmodal__heading__title ხშირად დასმული კითხვები
        .questionmodal__X
    .questionmodal__middle
        h6.questionmodal__question ლორემ იპსუმ შემევლო ფასებს განძრევის, შეყაყანდნენ საინიციატივო კბილ ოინბაზობით აუთრთოლდა?
    .questionmodal__answer
            p ტყლაპი დაგანებებინო შობოს მითის მწვადსა იატაკს ცოცხლდებიან წამოეწია გვამს, ამოჭრის აქავებულ. სიკვდილით განასახიარებდა შემოიყვანეთ სალინას პატრიარქალური მისიას მითის ნაღდ, მოისრისა, ნეშტს მოსატანად. ბიჭიც ამოგორდა თარგზე დაელია ჰღმუოდა ელბაქიძის მითის ინატროს. მიმდგარი ნაღდ ინატროს ყოფილხარ მცნების ამოჭრის აქავებულ დანაია, ბოძები ბიჭიც მამარდაშვილი დაელია განაწილება. დაელია ამოჭრის ჯიღა უპასუხებთ დელეგატებს სახლობანას დაგანებებინო ნეშტს ოვირის აგვიწერ ვიკმაროთ ნაღდ ჩადგები გვამს. ამოგორდა მოკითხვისთვის ელბაქიძის, ამოჭრის აქავებულ ის ბოძები სახელმძღვანელოზეც სამუშაოა ნიურბერგის. დანაია დაკლული დაიყაროს ფარა, ბიჭიც, დელეგატებს საგვარეულოს ხელმარჯვემ აწევასა, შობოს, სათათბიროს მოიკაზმა ბრალდებულს მოკითხვისთვის ლევან. დელეგატებს მითის ტყლაპი ოვირის დაუბრუნდნენ, თოვლის სამუშაოა, სალინას ჩადგები ბედავ იატაკს. მოაბა ინატროს მათრახებით ბედავ, მოსატანად საგვარეულოს ზომიერებაზე კუნძულისთვის.ტყლაპი დაგანებებინო შობოს მითის მწვადსა იატაკს ცოცხლდებიან წამოეწია გვამს
    .questionmodal__moreinfo
        p დამატებითი ინფორმაცია
        .questionmodal__moreinfo__links
            a(href="http://www.short.ulr/sj@v…", target="_blank") 
                span http://www.short.ulr/sj@v…
            a(href="http://www.short.ulr/sj@v…", target="_blank") 
                span http://www.short.ulr/sj@v…
