-
    const pageinfo = {
        title: 'ჩემი სექსუალობა',
        tag: true
    }

doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="assets/css/swiper-bundle.min.css")
        include ../layouts/_head
    body(class=pageinfo.title=== 'Home' ? 'homebody' : '')
        include ../layouts/_header

        main.femeamain.container
            .femeamain__container
                section.femeamain__contentslider__swiper.swiper-container
                    .femeamain__contentslider__wrapper.swiper-wrapper
                        article.femeamain__contentslider__slide.swiper-slide.aboutslide
                            h2.femeamain__content__title ჩვენ შესახებ
                            .aboutslide__textbox
                                p Femea ქალებისთვის შექმნილი სივრცეა, სადაც განთავსდება სანდო და გადამოწმებული ინფორმაცია მენტალურ, ფიზიკურ და სექსუალურ-რეპროდუქციულ ჯანმრთელობაზე, სექსუალობაზე, ურთიერთობებსა და ძალადობისგან თავდაცვაზე — ყველა იმ საკითხზე, რომელიც ქალების ჯანმრთელობასა და კეთილდღეობას განაპირობებს. სანდო ინფორმაციასთან ერთად Femea ქალების ისტორიებსაც გაგიზიარებთ.
                                p ორგანიზაციის საქმიანობის მთავარი მიმართულება ქალთა თემის გაძლიერება და ქალთა ჯანმრთელობასა და კეთილდღეობასთან დაკავშირებით ცნობიერების ამაღლებისთვის მრავალმხრივი აქტივობების განხორციელებაა.
                                h1 ჩვენი მიზნებია:
                                ol
                                    li ქალების ჯანმრთელობასა და კეთილდღეობასთან დაკავშირებულ საკითხებზე ცნობიერების ამაღლება, როგორებიცაა მენტალური და ფიზიკური ჯანმრთელობა, სექსუალობა და სექსუალურ-რეპროდუქციული ჯანმრთელობა, სექსი, ურთიერთობები და ძალადობა;
                                    li ქალთა თემის გაძლიერება ისეთი კონტენტის შექმნით, რომელიც შეესაბამება თანამედროვე ტენდენციებსა და ხედვებს;
                                    li სექსუალური უმცირესობებისა და შშმ ქალების საჭიროებებსა და გამოწვევებზე ინფორმაციის გავრცელება.
                                    li კვლევების, სემინარებისა და ტრენინგების ჩატარება, ასევე სამეცნიერო, საგანმანათლებლო და საინფორმაციო საქმიანობის განხორციელება;
                        article.femeamain__contentslider__slide.swiper-slide.aboutslide
                            h2.femeamain__content__title ჩვენ შესახებ
                            .aboutslide__textbox
                                p Femea ქალებისთვის შექმნილი სივრცეა, სადაც განთავსდება სანდო და გადამოწმებული ინფორმაცია მენტალურ, ფიზიკურ და სექსუალურ-რეპროდუქციულ ჯანმრთელობაზე, სექსუალობაზე, ურთიერთობებსა და ძალადობისგან თავდაცვაზე — ყველა იმ საკითხზე, რომელიც ქალების ჯანმრთელობასა და კეთილდღეობას განაპირობებს. სანდო ინფორმაციასთან ერთად Femea ქალების ისტორიებსაც გაგიზიარებთ.
                                p ორგანიზაციის საქმიანობის მთავარი მიმართულება ქალთა თემის გაძლიერება და ქალთა ჯანმრთელობასა და კეთილდღეობასთან დაკავშირებით ცნობიერების ამაღლებისთვის მრავალმხრივი აქტივობების განხორციელებაა.
                                h1 ჩვენი მიზნებია:
                                ul
                                    li ქალების ჯანმრთელობასა და კეთილდღეობასთან დაკავშირებულ საკითხებზე ცნობიერების ამაღლება, როგორებიცაა მენტალური და ფიზიკური ჯანმრთელობა, სექსუალობა და სექსუალურ-რეპროდუქციული ჯანმრთელობა, სექსი, ურთიერთობები და ძალადობა;
                                    li ქალთა თემის გაძლიერება ისეთი კონტენტის შექმნით, რომელიც შეესაბამება თანამედროვე ტენდენციებსა და ხედვებს;
                                    li სექსუალური უმცირესობებისა და შშმ ქალების საჭიროებებსა და გამოწვევებზე ინფორმაციის გავრცელება.
                                    li კვლევების, სემინარებისა და ტრენინგების ჩატარება, ასევე სამეცნიერო, საგანმანათლებლო და საინფორმაციო საქმიანობის განხორციელება;
                        article.femeamain__contentslider__slide.swiper-slide.aboutslide
                            h2.femeamain__content__title ჩვენ შესახებ
                            .aboutslide__textbox
                                p Femea ქალებისთვის შექმნილი სივრცეა, სადაც განთავსდება სანდო და გადამოწმებული ინფორმაცია მენტალურ, ფიზიკურ და სექსუალურ-რეპროდუქციულ ჯანმრთელობაზე, სექსუალობაზე, ურთიერთობებსა და ძალადობისგან თავდაცვაზე — ყველა იმ საკითხზე, რომელიც ქალების ჯანმრთელობასა და კეთილდღეობას განაპირობებს. სანდო ინფორმაციასთან ერთად Femea ქალების ისტორიებსაც გაგიზიარებთ.
                                p ორგანიზაციის საქმიანობის მთავარი მიმართულება ქალთა თემის გაძლიერება და ქალთა ჯანმრთელობასა და კეთილდღეობასთან დაკავშირებით ცნობიერების ამაღლებისთვის მრავალმხრივი აქტივობების განხორციელებაა.
                                h1 ჩვენი მიზნებია:
                                ul
                                    li ქალების ჯანმრთელობასა და კეთილდღეობასთან დაკავშირებულ საკითხებზე ცნობიერების ამაღლება, როგორებიცაა მენტალური და ფიზიკური ჯანმრთელობა, სექსუალობა და სექსუალურ-რეპროდუქციული ჯანმრთელობა, სექსი, ურთიერთობები და ძალადობა;
                                    li ქალთა თემის გაძლიერება ისეთი კონტენტის შექმნით, რომელიც შეესაბამება თანამედროვე ტენდენციებსა და ხედვებს;
                                    li სექსუალური უმცირესობებისა და შშმ ქალების საჭიროებებსა და გამოწვევებზე ინფორმაციის გავრცელება.
                                    li კვლევების, სემინარებისა და ტრენინგების ჩატარება, ასევე სამეცნიერო, საგანმანათლებლო და საინფორმაციო საქმიანობის განხორციელება;
                        article.femeamain__contentslider__slide.swiper-slide.aboutslide
                            h2.femeamain__content__title ჩვენ შესახებ
                            .aboutslide__textbox
                                p Femea ქალებისთვის შექმნილი სივრცეა, სადაც განთავსდება სანდო და გადამოწმებული ინფორმაცია მენტალურ, ფიზიკურ და სექსუალურ-რეპროდუქციულ ჯანმრთელობაზე, სექსუალობაზე, ურთიერთობებსა და ძალადობისგან თავდაცვაზე — ყველა იმ საკითხზე, რომელიც ქალების ჯანმრთელობასა და კეთილდღეობას განაპირობებს. სანდო ინფორმაციასთან ერთად Femea ქალების ისტორიებსაც გაგიზიარებთ.
                                p ორგანიზაციის საქმიანობის მთავარი მიმართულება ქალთა თემის გაძლიერება და ქალთა ჯანმრთელობასა და კეთილდღეობასთან დაკავშირებით ცნობიერების ამაღლებისთვის მრავალმხრივი აქტივობების განხორციელებაა.
                                h1 ჩვენი მიზნებია:
                                ul
                                    li ქალების ჯანმრთელობასა და კეთილდღეობასთან დაკავშირებულ საკითხებზე ცნობიერების ამაღლება, როგორებიცაა მენტალური და ფიზიკური ჯანმრთელობა, სექსუალობა და სექსუალურ-რეპროდუქციული ჯანმრთელობა, სექსი, ურთიერთობები და ძალადობა;
                                    li ქალთა თემის გაძლიერება ისეთი კონტენტის შექმნით, რომელიც შეესაბამება თანამედროვე ტენდენციებსა და ხედვებს;
                                    li სექსუალური უმცირესობებისა და შშმ ქალების საჭიროებებსა და გამოწვევებზე ინფორმაციის გავრცელება.
                                    li კვლევების, სემინარებისა და ტრენინგების ჩატარება, ასევე სამეცნიერო, საგანმანათლებლო და საინფორმაციო საქმიანობის განხორციელება;
                        article.femeamain__contentslider__slide.swiper-slide.aboutslide
                            h2.femeamain__content__title ჩვენ შესახებ
                            .aboutslide__textbox
                                p Femea ქალებისთვის შექმნილი სივრცეა, სადაც განთავსდება სანდო და გადამოწმებული ინფორმაცია მენტალურ, ფიზიკურ და სექსუალურ-რეპროდუქციულ ჯანმრთელობაზე, სექსუალობაზე, ურთიერთობებსა და ძალადობისგან თავდაცვაზე — ყველა იმ საკითხზე, რომელიც ქალების ჯანმრთელობასა და კეთილდღეობას განაპირობებს. სანდო ინფორმაციასთან ერთად Femea ქალების ისტორიებსაც გაგიზიარებთ.
                                p ორგანიზაციის საქმიანობის მთავარი მიმართულება ქალთა თემის გაძლიერება და ქალთა ჯანმრთელობასა და კეთილდღეობასთან დაკავშირებით ცნობიერების ამაღლებისთვის მრავალმხრივი აქტივობების განხორციელებაა.
                                h1 ჩვენი მიზნებია:
                                ul
                                    li ქალების ჯანმრთელობასა და კეთილდღეობასთან დაკავშირებულ საკითხებზე ცნობიერების ამაღლება, როგორებიცაა მენტალური და ფიზიკური ჯანმრთელობა, სექსუალობა და სექსუალურ-რეპროდუქციული ჯანმრთელობა, სექსი, ურთიერთობები და ძალადობა;
                                    li ქალთა თემის გაძლიერება ისეთი კონტენტის შექმნით, რომელიც შეესაბამება თანამედროვე ტენდენციებსა და ხედვებს;
                                    li სექსუალური უმცირესობებისა და შშმ ქალების საჭიროებებსა და გამოწვევებზე ინფორმაციის გავრცელება.
                                    li კვლევების, სემინარებისა და ტრენინგების ჩატარება, ასევე სამეცნიერო, საგანმანათლებლო და საინფორმაციო საქმიანობის განხორციელება;

                nav.femeamain__navslider
                    .femeamain__navslider__swiper.swiper-container
                        ul.femeamain__navslider__wrapper.swiper-wrapper
                            li.femeamain__navslider__slide.swiper-slide.aboutslide ჩვენ შესახებ
                            li.femeamain__navslider__slide.swiper-slide.contactslide კონტაქტი
                            li.femeamain__navslider__slide.swiper-slide.partnersslide ჩვენი პარტნიორები
                            li.femeamain__navslider__slide.swiper-slide.vacancyslide ვაკანსიები
                            li.femeamain__navslider__slide.swiper-slide.ruleslide ჩვენი წესდება
                
        include ../layouts/_footer

        include ../layouts/_scripts
        //- only homepage
        script(src="assets/js/swiper-bundle.min.js") 
        script(src="assets/js/femea.js") 